/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
  --green: #00ff00;
}

/* Use attribute selectors for the first part of the exercise */

section li[class*="dog"] {
  color: var(--magenta);
}

#cat {
  color: var(--teal); /* Teal for the cat with ID */
}

section li[class*="parrot"] {
  color: var(--green);
}

section li[class*="donkey"] {
  color: var(--royalblue);
}

section li[class*="hedgehog"] {
  color: var(--magenta);
}

section li.cat.dog.parrot {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

section .list-food ol li.first {
  color: var(--green);
}

section .list-food ol li.first + li {
  color: var(--magenta);
}

section .list-food ol li.first + li + li {
  color: var(--royalblue);
}

section .list-food ol li.first + li + li + li {
  color: var(--magenta);
}

section li {
  color: var(--green);
}
